<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="event-info">
      <p class="body-text">
        Join the Rhythm<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;on<br />&nbsp;&nbsp;
        <br /><br /><br /><br />&nbsp;&nbsp; 25 March 2026
      </p>
      <div class="rectangle"></div>
      <div class="text-wrapper">Register now</div>
    </div>
  </body>
</html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="registration">
      <div class="body-text">USER REGISTER</div>
      <div class="rectangle"></div>
      <div class="text-wrapper">Full Name:</div>
      <div class="div">Ph Number:</div>
      <div class="body-text-2">Ticket Type:</div>
      <div class="body-text-3">Email ID:</div>
      <div class="rectangle-2"></div>
      <div class="rectangle-3"></div>
      <div class="rectangle-4"></div>
      <div class="rectangle-5"></div>
      <div class="rectangle-6"></div>
      <div class="body-text-4">Proceed</div>
    </div>
  </body>
</html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="rules">
      <p class="body-text">
        <span class="text-wrapper">Rules</span>
        <span class="span">&nbsp;</span>
        <span class="text-wrapper">and</span>
        <span class="span">&nbsp;</span>
        <span class="text-wrapper">Regulations</span>
      </p>
      <div class="rectangle"></div>
      <p class="div">
        • Entry allowed only with valid ticket <br /><br />• ID proof is mandatory <br /><br />• No outside food or
        drinks <br /><br />• Event starts at 6:00 PM sharp <br /><br />• Organizer’s decision is final
      </p>
    </div>
  </body>
</html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="contact-info">
      <div class="rectangle"></div>
      <div class="body-text">For Queries <br />Any Contact:<br />-------------</div>
      <div class="text-wrapper">PhNo:<br />1234567894</div>
      <div class="div">Email id:<br />music@gmail.com</div>
    </div>
  </body>
</html>


